<div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Personal Settings</div>
            <div class="list-group">
              <a ui-sref="app.settings.profile" ui-sref-active="active" class="list-group-item">Edit Profile</a>
              <a ui-sref="app.settings.picture" ui-sref-active="active" class="list-group-item">Change Profile Picture</a>
              <a ui-sref="app.settings.password" ui-sref-active="active" class="list-group-item">Change Password</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">
        <div ui-view></div>
      </div>
   </div>
</div>
